@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body {
  min-height: 100vh;
  background-color: #f3f4f6;
  background-size: cover;
}
@tailwind base;  
@tailwind components;  
@tailwind utilities;
